In [2]:
l1={1,2,3,4}
l1

{1, 2, 3, 4}

In [3]:
set1 = set()
set1

set()

In [4]:
set1={1,2,3,4}
set1

{1, 2, 3, 4}

In [6]:
set1=set([1,2,3,4])
set1

{1, 2, 3, 4}

In [7]:
s1={1,2,3}
s2={2,3,4,5}
s1|s2

{1, 2, 3, 4, 5}

In [8]:
s1&s2

{2, 3}

In [9]:
s1_s2

NameError: name 's1_s2' is not defined

In [10]:
s1-s2

{1}

In [11]:
s2-s1

{4, 5}

In [12]:
s1<s2

False

In [13]:
s2<s1

False

In [21]:
list1={1,2,3,4,56,4,2,1,67}
list1

In [22]:
basket={'apple','orange','apple'}
print(basket)

{'orange', 'apple'}

In [24]:
set2={1,2,3,4}
set2.add(5)
set2

{1, 2, 3, 4, 5}

In [25]:
set2.remove(4)
set2

{1, 2, 3, 5}

In [32]:
{x**2 for x in range(10) if x%2==0}

{0, 4, 16, 36, 64}

In [34]:
ans=[]
for x in range(10):
    if x%2==0:
        ans.append(x**2)
print(ans)

[0, 4, 16, 36, 64]

In [39]:
{x for x in range(100) if x%2==0}

{0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98}

In [1]:
str1={'arjun','balu','chandu','dumbu'}
str2={'srilu','arjun','teju'}
str1-str2

{'balu', 'chandu', 'dumbu'}

In [43]:
s1="djfuhfkfeneiulaj"
s2="jhcgilefjoj"
{x for x in s1 if x not in s2}

{'a', 'd', 'k', 'n', 'u'}

In [46]:
set1=set(s1)
set2=set(s2)
set1-set2

{'a', 'd', 'k', 'n', 'u'}

In [ ]:
##functions

In [ ]:
def function_name(arguements):
    docstring
    body of the function
    return value

In [ ]:
#function call

In [ ]:
receiving_variable=function_name(args)

In [3]:
def add(a,b):
    'this function is used to perform addition of 2 num'
    return a+b
c=add(2,3)
print("addition is",c)

addition is 5

In [6]:
def sub(a,b,c=0):
    return a-b-c
print(sub(2,b=2))
#print(sub(a=2,3))
print(sub(c=33,b=2,a=3))

0
-32

In [11]:
def add(a,b,*arg):
    c=a+b
    for x in arg:
        c=c+x
    return c
print(add(2,3))
print(add(2,3,4))
print(add(2,3,4,5,6,7,8,9,10))

5
9
54